body {
    margin: 0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#input-el {
    border-color: green;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

#input-btn {
    background-color: rgb(71, 239, 15);
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 15px;    
}

#unordered-list {
    padding: none;
}

ul {
    padding: 0;
    margin-top: 10px;
}

li {
    list-style: none;
    margin-top: 10px;
}

li a {
    color: rgb(50, 47, 255);
}